html{
    box-sizing: border-box;
    height: auto;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right, #576182, #1FC5A8);
    min-height: 100%;
}

nav{
    display: flex;
    justify-content: end;
    background-color: #00504b;
    height: 70px;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

nav a:nth-child(2){
    margin-left: auto;
}

.logo{
    max-height: 50px;
    max-width: 50px;
}

.logo-other{
    padding: 0 0 0 50px;
    position: fixed;
}

nav a{
    text-decoration: none;
    color: #fcfcfc;
    padding-left: 5px;
    padding-right: 5px;
}

header p{
    background-color: #0e0083;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0;
}

.container{
    margin: 10px;
    background-color: rgba(243,253,255,0.05);
    padding: 10px;
    border-radius: 11px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.link{
    text-decoration: none;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
}

.video iframe{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 11px;
}

.video{
    display: flex;
    flex-direction: row;
}

.video p{
    max-width: 900px;
    margin: 10px;
}

.images{
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.image img{
    min-width: 250px;
    min-height: 250px;
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 11px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #00504b;
    height: 80px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 0;
    color: #fcfcfc;
}

footer a{
    text-decoration: none;
    color: #00e3da;
    padding-left: 5px;
    padding-right: 5px;
}

.up{
    background-color: #009189;
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
}

.up a{
    text-decoration: none;
    color: #fcfcfc;
}

.form{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.form a{
    text-decoration: none;
    color: #00504b;
    padding-left: 5px;
    padding-right: 5px;
}

form{
    background-color: rgba(243,253,255,0.38);
    padding: 10px;
    border-radius: 11px;
}

fieldset{
    border-radius: 5px;
}

.button{
    border: 1px solid #00504b;
    color: #222222;
    background-image: -webkit-linear-gradient(45deg, #00504b 50%, transparent 50%);
    background-image: linear-gradient(45deg, #00504b 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    padding: 7px 14px 7px 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

.button:hover {
    background-position: 0;
}
.button:hover, .button:focus {
    color: #fff;
    outline: 0;
}